/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colores ==========*/
  --first-color: hsl(288, 78%, 61%);
  --first-color-alt: hsl(278, 64%, 52%);
  --title-color: hsl(19, 16%, 15%);
  --text-color: hsl(19, 16%, 35%);
  --text-color-light: hsl(19, 8%, 55%);
  --body-color: hsl(295, 81%, 94%);
  --container-color: hsl(21, 78%, 96%);
  --banner-color: hsl(295, 81%, 94%);

  /*========== Fuentes y Tipografias ==========*/
  --body-font: "Poppins", sans-serif;
  --title-font: "Lora", serif;
  --subtitle-font: "Dancing Script", cursive;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 1s;
  width: 100%;
}

h1, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


button.agregar-carrito{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
/*=============== Iconos  ===============*/

.nav__buttons{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}

.login__user-link{
    color: var(--title-color);
    font-size: 1.25rem;
    transition: color .3s, transform .3s;
    height: 25px;
}

.login-user{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}

.login__user-link:hover{
    color: var(--first-color-alt);
    transform: translateY(-2px);
}


.cart__check{
    color: var(--title-color);
    font-size: 1.25rem;
    transition: color .3s, transform .3s;
    height: 25px;
}

.cart__check:hover{
    color: var(--first-color-alt);
    transform: translateY(-2px);
}
/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color: hsl(288, 78%, 61%);
    --first-color-alt: hsl(278, 64%, 52%);
    --title-color: hsl(19, 24%, 85%);
    --text-color: hsl(19, 16%, 65%);
    --body-color: hsl(19, 12%, 8%);
    --container-color: hsl(19, 10%, 10%);
    --banner-color: hsl(19, 24%, 85%);
}

.dark-theme .bg-header,
.dark-theme .nav__menu,
.dark-theme .scrollup{
    box-shadow: 0 2px 8px hsla(19, 64%, 4%, .5);
}

.dark-theme .galeria__card{
    box-shadow: 0 8px 20px hsla(19, 64%, 4%, .2);
}

.dark-theme .aviso__content{
    background-color: var(--container-color);
}

.dark-theme .aviso__form,
.dark-theme .aviso__input{
    background-color: var(--body-color);
}

.dark-theme::-webkit-scrollbar{
    background-color: hsl(19, 8%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb{
    background-color: hsl(19, 8%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsl(19, 8%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-family: var(--subtitle-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.main {
  overflow: hidden; 
}

/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: box-shadow .3s, background .4s;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
    display: flex;
    color: var(--title-color);
}

.nav__logo{
    align-items: center;
    column-gap: .5rem;
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
}

.nav__logo img{
    width: 25px;
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
        padding-block: 3.5rem;
        transition: top .4s;
    }    
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__img-1,
.nav__img-2{
    position: absolute;
    opacity: .2;
}

.nav__img-1{
    width: 100px;
    top: .75rem;
    left: -2rem;
    transform: rotate(165deg);
}

.nav__img-2{
    width: 50px;
    right: -1rem;
    bottom: 0;
    transform: rotate(-30deg);
} 

.show-menu{
    top: 0;
}

.bg-header{
    box-shadow:  0 2px 8px hsla(19, 64%, 24%, .1);
}

.active-link{
    color: var(--first-color);
}
/*=============== Banner ===============*/
.encabezado-img{
	background-image: url(../img/banner4.png);
	background-size: cover;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
}
.encabezado-img p{
	font-size: 18px;
  color: var(--banner-color);

}
.encabezado-img h1{
	font-size: 50px;
	padding: 15px 0;
  color: var(--banner-color);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(19, 8%, 75%);
}
::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(19, 8%, 65%);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(19, 8%, 55%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(19, 64%, 24%, .1);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  font-size: 1.1rem;
  color: var(--first-color);
  z-index: var(--z-tooltip);
  transition: bottom .3s, transform .3s, background .4s;
}

.scrollup:hover{
  transform: translateY(-.25rem);
}

.show-scroll{
  bottom: 3rem;
}

/*=============== FOOTER ===============*/
.footer{
  position: relative;
  padding-block: 3rem 2rem;
  overflow: hidden;
}

.footer__container{
  row-gap: 3rem;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
  transition: color .3s;
}

.footer__logo img{
  width: 25px;
}

.footer__logo:hover{
  color: var(--first-color);
}

.footer__description,
.footer__link,
.footer__information{
  font-size: var(--small-font-size);
}

.footer__content,
.footer__links{
  display: grid;
}

.footer__content{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem;
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer__links{
  row-gap: .5rem;
}

.footer__link{
  color: var(--text-color);
  transition: color .3s;
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__social{
  display: flex;
  column-gap: 1.25rem;
}

.footer__social-link{
  color: var(--first-color);
  font-size: 1.25rem;
  transition: color .3s, transform .3s;
}

.footer__social-link:hover{
  color: var(--first-color-alt);
  transform: translateY(-2px);
}

.footer__onion,
.footer__spinach{
  width: 30px;
  position: absolute;
}

.footer__onion{
  top: 7.5rem;
  right: 5rem;
  transform: rotate(-45deg);
}

.footer__spinach{
  bottom: 8rem;
  left: 3rem;
  transform: rotate(30deg);
}

.footer__leaf{
  width: 100px;
  opacity: .2;
  position: absolute;
  bottom: 6rem;
  right: -2rem;
  transform: rotate(-15deg);
}

.footer__info,
.footer__card{
  display: flex;
}

.footer__info{
  margin-top: 6.5rem;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__card{
  column-gap: 1rem;
  justify-content: center;
}

.footer__card img{
  width: 35px;
}

.footer__copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}


@media screen and (max-width: 340px){
  .container{
      margin-inline: 1rem;
  }

  .section{
      padding-block: 4rem 1rem;
  }

  .footer__content{
      gap: 1.5rem;
  }
}

/* For medium devices */
@media screen and (min-width:576px){

  .footer__content{
      grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 767px){
  .nav{
      column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close,
  .nav__img-1,
  .nav__img-2{
      display: none;
  }
  
  .nav__list{
      flex-direction: row;
      column-gap: 3rem;
  }

  .nav__menu{
      margin-left: auto;
  }

  .dark-theme .nav__menu{
      box-shadow: none;
  }

  .footer__content{
      grid-template-columns: repeat(4, max-content);
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
  .section{
      padding-block: 7rem 1.5rem;
  }

  .section__subtitle{
      margin-bottom: .75rem;
  }

  .nav{
      height: calc(var(--header-height) + 1.5rem);
  }


  .footer{
      padding-block: 8rem 3rem;
  }

  .footer__container{
      position: relative;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
  }

  .footer__content{
      column-gap: 4rem;
  }

  .footer__title,
  .footer__description,
  .footer__link,
  .footer__information{
      font-size: var(--normal-font-size);
  }

  .footer__social-link{
      font-size: 1.5rem;
  }

  .footer__info{
      flex-direction: row;
      justify-content: space-between;
      margin-top: 8.5rem;
  }

  .footer__copy{
      order: -1;
  }

  .footer__spinach{
      bottom: -3rem;
      left: 6rem;
  }

  .footer__onion{
      right: 1rem;
  }

  .scrollup{
      right: 3rem;
  }
}

@media screen and (min-width: 1064px) {
  .container{
      margin-inline: auto;
  }
}

@media screen and (min-width: 1280px){

  .footer__leaf{
      right: 0;
      left: 0;
      bottom: -15rem;
      margin: 0 auto;
      width: 150px;
  }
}

#boton-carrito {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    border: none;
    background: var(--body-color);
    color: var(--title-color);
    font-size: 1.25rem;
    transition: color .3s, transform .3s
}

#contadorCarrito{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    border: none;
    background: var(--body-color);
    font-size: 1.25rem;
    transition: color .3s, transform .3s;
    margin-top: .20rem;
}


#contenedor-productos {
display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.producto:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.producto img{
    width: 100%;
    border-radius: 20px;
}

.producto h3{
    color: var(--title-color);
  font-size: 12px;
}

.producto p{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: var(--first-color);
}

.producto h4{
    padding-top: 7px;
    color: var(--title-color);
    font-size: 14px;
}

.star{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.boton-agregar {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: var(--first-color);
  font-weight: 500;
  color: var(--title-color);
  border-color: transparent;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.boton-vaciar{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    color: #fff;
    font-weight: var(--font-medium);
    transition: background .3s;
    margin-left: 160px;
    margin-bottom: 10px;
    cursor: pointer;
}

.boton-comprar{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    padding: 1rem 1.1rem;
    border-radius: 4rem;
    color: #fff;
    font-weight: var(--font-medium);
    transition: background .3s;
    margin-left: 160px;
    cursor: pointer;
}

.precioTotal{
    align-items: center;
}


.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: var(--body-color);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: var(--title-color);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 20px;
    color: var(--title-color);
    border: none;
    background-color: var(--body-color);
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    align-items: center;
    margin: 10px 10px 10px 160px;
}

.productoEnCarrito {
    border-left: 5px solid var(--first-color);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid var(--first-color-alt);
}

.boton-eliminar {
    background-color: var(--body-color);
    color: var(--title-color);
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

@media (max-width:1920px) {
    #contenedor-productos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 3rem 10rem 10rem 10rem;
    }

    .producto{
        margin: 15px;
        min-width: 250px;
    }
  }

@media (max-width:1620px) {
    #contenedor-productos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 3rem 20rem 10rem 20rem;
    }

    .producto{
        margin: 15px;
        min-width: 250px;
    }
  }

  @media (max-width:1480px) {
    #contenedor-productos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 3rem 15rem 10rem 15rem;
    }

    .producto{
        margin: 10px;
        min-width: 250px;
    }
  }

  @media (max-width:1290px) {
    #contenedor-productos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 3rem 10rem 10rem 10rem;
    }

    .producto{
        margin: 10px;
        min-width: 250px;
    }
  }

  @media (max-width: 477px){

    #contenedor-productos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 40px 40px;
    }

    .producto{
        margin: 15px;
        min-width: 250px;
    }

  }